@import "variables";


// początek sekcji głównej....................................................................................
//..............................................................................................................

.app-body {
  display:flex;
  flex-direction: column;
  margin:0;
  padding:0;
}

.app-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $colorHeader;
  border: 1px solid black;
}

.header-logo {
  font-family: 'Charmonman', cursive;
font-size: 35px;
  margin: 20px;
}

.logo-link{
  text-decoration: none;
}

.logo1 {
  color:white;
}

.logo2 {
  color:#E58A20;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right-name {
  font-family: 'Open Sans', sans-serif;
  color:white;
  font-size: 38px;
  font-weight: 700;
  margin:15px;
}

.header-right-icon {
  color :#E58A20 !important;
  font-size: 50px;
  margin-right: 50px;
  margin-left: 20px;
}

.main{
  display: flex;
  height: calc(100vh - 100px);
}

.sidebar {
  width: 17%;
  height: 100%;
  background-color:$colorSidebar;
}

.sidebar-nav {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.sidebar-nav-item {
  width: 100%;
}

.sidebar-nav-item button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $colorSidebar;
  border: none;
  padding:25px 15px 25px 35px;
  width: 100%;
  cursor: pointer;
}

.sidebar-nav-item button span {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  color: white;
}

.sidebar-nav-item button i {
  font-size: 30px;
  color: #E58A20;
  display: none;
}

.main-content {
  width: 83%;
  height:calc(100vh - 100px);
  background-image: url("../images/tlo.png");
}

.border {
  border-left:5px solid #E58A20 !important;
  font-weight: 700 !important;
}

.arrow {
  display: block !important;
}

 /* początek sekcji nowy aplikant..............................................................................
.............................................................................................................*/

.new-guest-content {
  color: $colorSidebar;
  font-family: "Open Sans", sans-serif;
  margin: 40px auto 0;
  background-color: white;
  border:1px dashed $colorSidebar;
  width:96%;
  height:90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-guest-title {
  font-size: 50px;
  padding-top: 70px;
  padding-bottom: 0;
  margin:0;
}

.new-guest-text {
  font-weight: 700;
  text-align: center;
  width: 35%;
  font-size:30px;
  padding: 20px;
}

.new-guest-text2 {

  text-align: center;
  width: 40%;
  font-size:28px;
  padding: 20px;
}

.guest-form {
  width: 26%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guest-name-input {
  width: 100%;
  padding: 5px 10px;
  font-size: 18px;
}

.guest-name-add {
  width: 50%;
  background-color: #E58A20 ;
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding:10px 25px;
  border:none;
  margin-top:20px;
  &:hover {
    cursor: pointer;
  }
}

.display-none {
  display: none !important;
}

/*
początek sekcji zadania 3................................................................................
.........................................................................................................
*/

.task3-content {
  margin: 40px auto 0;
  width:96%;
  height:90%;


}


/*
3.3 Pulpit - Widżet powiadomienia........................................................................
.........................................................................................................
*/

.app-notifications{
  width: 55%;
  height: 177px;
  display: flex;
  flex-direction: column;
  float: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.app-notifications-info{
  height: 30%;
  background-color: white;
  border: 1px dashed #3498DB;
  margin-bottom: 3.333%;
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;

  .fa-info-circle{
    font-size: 2.5em;
    padding: 5px 15px;
    color: #3498DB;
  }

  p{
    font-size: 18px;
    color: #3498DB;
  }
}

.app-notifications-info:after{
  content: "\f057";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  width: 10px;
  color: #3498DB;
  top: 8px;
  right: 18px;
  font-size: 1.5em;
}

.app-notifications-attention{
  height: 30%;
  background-color: white;
  border: 1px dashed #FFB03B;
  margin-bottom: 3.333%;
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;

  .fa-exclamation-circle{
    font-size: 2.5em;
    padding: 5px 15px;
    color: #FFB03B;
  }

  p{
    font-size: 18px;
    color: #FFB03B;
    position: relative;
  }
}

.app-notifications-attention:after{
  content: "\f057";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  width: 10px;
  height: 33%;
  color: #FFB03B;
  top: 8px;
  right: 18px;
  font-size: 1.5em;
}

.app-notifications-hello{
  height: 30%;
  background-color: white;
  border: 1px dashed #468966;
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;

  .fa-check-circle{
    font-size: 2.5em;
    padding: 5px 15px;
    color: #468966;
  }

  p{
    font-size: 18px;
    color: #468966;
  }
}

.app-notifications-hello:after{
  content: "\f057";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  width: 10px;
  height: 33%;
  color: #468966;
  top: 8px;
  right: 18px;
  font-size: 1.5em;
}