// CDN FONTAWESOME
// <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
//
// Sass:
// https://fontawesome.com/how-to-use/on-the-web/using-with/sass

@import
'variables',
'app';

body{
  background-color: #BADA55;
  font-size: 14px;
}

/* 1.1 Naglowek poczatek */

@import url('https://fonts.googleapis.com/css?family=Charmonman');
h1{
  font-family: Charmonman;
}
body{
  background-color: #292F32;
}
.main_header{
  display: flex;
  justify-content: space-between;
}
.bottom_menu{
  list-style-type: none;
  display: flex;
  align-items: center;
}

.menu_links{
  font-size: 1.5em;
  padding: 1em;
  text-decoration: none;
  color: #FFFFFF;
}

.first_link{
  color: #E58A20;
}

.logo_whole{
  font-size: 2em;
  text-decoration: none;
}
.logo_first_part{
  font-weight:100;
  color: white;
}
.logo_second_part{
  color:#E58A20;
  font-weight: 700;
}



/* 1.1 Naglowek koniec  */