// CDN FONTAWESOME
// <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
//
// Sass:
// https://fontawesome.com/how-to-use/on-the-web/using-with/sass

@import "variables", "app";

body {
  background-color: #ebebeb;
  font-size: 14px;
}

.call-to-action {
  background-color: #4a4a49;
  width: 100%;
  height: 269px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.call-to-action-left {
  padding-left: 140px;
  width: 60%;

  h3 {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 39px;
    font-weight: 500;
  }
  p {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    font-weight: 400;
  }
}

.call-to-action-right {
  display: flex;
  justify-content: center;
  width: 40%;

  #app_run_button {
    background-color: #ff6600;
    width: 250px;
    height: 60px;
    border: none;
    color: white;
    font-size: 23px;
    font-weight: 600;
  }
  #app_run_button:hover {
    cursor: pointer;
  }
}
