// CDN FONTAWESOME
// <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
//
// Sass:
// https://fontawesome.com/how-to-use/on-the-web/using-with/sass

@import "variables", "app";

body {
  background-color: #ebebeb;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 1.1 Naglowek poczatek */

@import url("https://fonts.googleapis.com/css?family=Charmonman");
h1 {
  font-family: Charmonman;
}

.main_header {
  display: flex;
  justify-content: space-between;
  background-color: #4a4a49;
}
.bottom_menu {
  font-family: "Open Sans", sans-serif;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.menu_links {
  font-size: 1.5em;
  padding: 1em;
  text-decoration: none;
  color: #ffffff;
}

.first_link {
  color: #e58a20;
}

.logo_whole {
  font-size: 2em;
  text-decoration: none;
}
.logo_first_part {
  font-weight: 100;
  color: white;
}
.logo_second_part {
  color: #e58a20;
  font-weight: 700;

}
/* 1.1 Naglowek koniec  */

/*1.2 Karuzela poczatek */

.carousel {
  height: 580px;
  padding: 10px;
  font-size: 20px;
  background-color: #fffffa;

  .carousel_container {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;

    .carousel_bnt {
      height: 100%;
      flex: 0 0 auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;

      .carousel_bnt_sign {
        flex: 0 0 auto;
        display: inline-block;
        text-decoration: none;
        font-size: 2.3rem;
        font-weight: 600;
        color: #000000;
      }
    }
    .carousel_screen {
      max-height: 100%;
      flex: 1 1 auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: stretch;
      align-items: stretch;
      align-content: stretch;

      .carousel_screen_element {
        max-height: 100%;
        flex: 1 1 auto;
        display: none;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        align-content: center;

        &.visible{
          display: flex;
        }

        h4 {
          font-size: 2.6rem;
          font-weight: 600;
          margin-bottom: 0.25em;
          text-align: center;
          flex: 0 0 66%;
        }

        p {
          overflow: hidden;
          font-weight: 400;
          text-align: center;
          flex: 0 0 66%;
        }
      }
    }
  }

}

/*1.2 Karuzela koniec */

/* 1.3 Call to Action  */
.call-to-action {
  background-color: #4a4a49;
  width: 100%;
  height: 269px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  font-family: "Open Sans", sans-serif;
}

.call-to-action-left {
  padding-left: 140px;
  width: 60%;

  h3 {
    color: white;
    font-size: 39px;
    font-weight: 500;
  }
  p {
    color: white;
    font-size: 26px;
    font-weight: 400;
  }
}

.call-to-action-right {
  display: flex;
  justify-content: center;
  width: 40%;

  #app_run_button {
    background-color: #ff6600;
    width: 230px;
    height: 60px;
    border: none;
    color: white;
    font-size: 23px;
    font-weight: 600;
  }
  #app_run_button:hover {
    cursor: pointer;
  }
}

/* 1.4 O aplikacji  */
.about-application {
  background-color: #ebebeb;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.about-application-left {
  flex-direction: column;
  width: 20%;

  h3 {
    color: #4a4a49;
    font-size: 32px;
    font-weight: 500;
  }

  p {
    color: #4a4a49;
    font-size: 23px;
    font-weight: 400;
  }
}

.about-application-center {
  flex-direction: column;
  width: 20%;

  h3 {
    color: #4a4a49;
    font-size: 32px;
    font-weight: 500;
  }

  p {
    color: #4a4a49;
    font-size: 23px;
    font-weight: 400;
  }
}

.about-application-right {
  flex-direction: column;
  width: 20%;

  h3 {
    color: #4a4a49;
    font-size: 32px;
    font-weight: 500;
  }

  p {
    color: #4a4a49;
    font-size: 23px;
    font-weight: 400;
  }
}

/* 1.5 Formularz do zapisu  */
.newsletter-section {
  background-color: #5b605f;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.newsletter-section-left {
  padding-left: 140px;
  width: 50%;

  h3 {
    color: white;
    font-size: 53px;
    font-weight: 400;
  }
}

.newsletter-section-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;

  #newsletter-button {
    background-color: #ff6600;
    width: 20%;
    height: 60px;
    border: none;
    color: white;
    font-size: 23px;
    font-weight: 600;
  }
  #newsletter-button:hover {
    cursor: pointer;
  }
  input {
    height: 60px;
    width: 40%;
    border: none;
    padding: 20px;
  }
}

.fas {
  font-size: 75px;
  padding-bottom: 10px;
  color: #a1a193;
}

.far {
  font-size: 95px;
  padding-bottom: 10px;
  color: #a1a193;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ebebeb;
  padding: 50px 200px;
  width: 100%;
  height: 300px;
}

.box {
  height: 200px;
  width: 200px;
  background: $colorSidebar;
}

.story {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 150px;
  padding-right: 200px;
}

.contact {
  display: flex;
  height: 200px;
  background: #5b605f;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background: #464646;
  color: white;
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  margin: 30px;

  p {
    font-family: "Open Sans", sans-serif;

    max-width: 300px;
  }
}

.list {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.input {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

input {
  width: 30%;
}

.footer_contact {
  width: 20%;
  background: #ff6500;
  border: #ff6500;
  color: white;
}

.facebook {
  width: 60%;
  padding: 10px;
}

.form {
  display: flex;
  margin: 5px;
}

.accent {
  color: #ff6500;
}

footer {
  height: 40px;
  display: flex;
  align-items: center;
}
